/* [ Root ]
----------------------------------------------------------------- */
* {
  box-sizing: border-box;
  font-family: var(--font-family, arial);
}
html,
body {
  font-family: var(--font-family, arial);
  font-size: 16px;
  margin: 0;
  font-feature-settings: "liga" on, "calt" on;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
