/* [ Side bar ] */
.sidebar {
  grid-column: 1/2;
  grid-row: 2/4;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: var(--padding-medium, 0);
}

.side_panel {
  border-top: 1px solid var(--colours-light-border, #f0f);
  user-select: none;
}
.sidebar::-webkit-scrollbar-thumb,
.side_panel::-webkit-scrollbar-thumb {
  background: transparent;
}
.sidebar:hover::-webkit-scrollbar-thumb,
.side_panel:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}
.side_panel:first-of-type {
  border-top: none;
}

.side_panel--frames {
  padding-bottom: var(--padding-small, 0);
}
.side_panel--information,
.side_panel--destination {
  padding-bottom: var(--padding-x-small, 0);
}

.side_panel__row {
  font-size: var(--font-size--small, 1rem);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.side_panel__row--vertical {
  flex-direction: column;
}
.side_panel__row--title {
  font-weight: 600;
  padding: var(--padding-medium, 0) var(--padding-medium, 0)
    var(--padding-x-small, 0);
  position: sticky;
  top: 0;
  background-color: var(--colours-light-background);
}
.side_panel__row--input {
  display: flex;
  align-items: center;
  padding: var(--padding-x-small, 0) var(--padding-small, 0)
    var(--padding-x-small, 0) var(--padding-medium, 0);
}

.side_panel__row--input:first-child:last-child {
  margin: var(--padding-x-small, 0) 0;
}

.side_panel--frames .side_panel__row--input {
  margin-top: 1px;
}
.side_panel--frames .side_panel__row--input:hover {
  outline: 1px solid var(--colours-active, #f0f);
}

.side_panel__row--colour {
  border: 1px solid transparent;
  margin: 0 var(--padding-x-small, 0);
}

.side_panel .input--html {
  white-space: normal;
  font-family: monospace;
  min-height: 14ch;
  background-position-y: 9px;
}
