/* [ Colour picker ]
----------------------------------------------------------------- */
.modal--colour-picker {
  bottom: 10%;
  left: 10%;
}

.colour_picker {
  display: flex;
  flex: 1;
  border-radius: var(--border-radius-small, 0);
  z-index: 1;
}
.colour_picker:hover {
  box-shadow: 0 0 0 1px var(--colours-light-border, #f0f);
}
.colour_picker[data-active] {
  box-shadow: 0 0 0 2px var(--colours-active, #f0f);
}

.react-colorful__alpha-gradient,
.react-colorful__saturation {
  box-shadow: none;
}
.react-colorful__saturation,
.react-colorful__last-control {
  border-radius: 0;
}
.react-colorful__pointer {
  width: 12px;
  height: 12px;
  box-shadow: none;
  border-width: 1px;
}

.btn--colour-picker {
  min-width: 16px;
  border: none;
  max-height: 16px;
  outline: none;
  margin: var(--padding-x-small, 0);
  cursor: pointer;
  border-right: 1px solid transparent;
}
.btn--colour-picker:active {
  outline: none;
}
