/* [ Controls ]
----------------------------------------------------------------- */
.controls {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.controls fieldset {
  padding: var(--padding-small, 0);
  margin: var(--padding-small, 0);
  border: 1px solid var(--colours-grey-3, #f0f);
  border-radius: var(--border-radius-small, 0);
}
.controls legend {
  font-size: var(--font-size--small, 1rem);
  margin: 0;
}
.controls button:enabled {
  cursor: pointer;
}

/* [ Controls - Section ]
----------------------------------------------------------------- */
.selection {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-width: 200px;
}
.selection_inner {
  overflow-y: auto;
  max-height: 14ch;
  height: 100%;
  margin-bottom: var(--padding-small, 0);
}
.selection__item {
  margin: var(--padding-small, 0) 0;
  font-size: var(--font-size--small, 1rem);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.selection__input {
  margin: 0;
}
.selection__name {
  flex: 1;
  margin: 0 var(--padding-medium, 0);
  word-break: break-word;
}
.selection__width {
  color: var(--colours-grey-2, #f0f);
}

/* [ Controls - Headlines ]
  ----------------------------------------------------------------- */
.embed_properties {
  display: flex;
  flex-direction: column;
  flex: 1.3;
}
.embed_properties label {
  font-size: var(--font-size--small, 1rem);
  margin: var(--padding-small, 0) 0;
  display: flex;
}
.embed_properties label span {
  min-width: 12ch;
}
.embed_properties label input {
  width: 100%;
  font-size: var(--font-size--small, 1rem);
  flex: 1;
}

.embed_properties label input:invalid {
  border: 1px solid #e8a417;
  background: #ffe6af;
  border-radius: 2px;
}
