/* [ Inputs ]
----------------------------------------------------------------- */
.input__label {
  flex: 1;
  word-break: break-word;
}
.input__checkbox + .input__label {
  margin-left: var(--padding-small, 0);
}
.input--textbox {
  resize: none;
  font-size: var(--font-size--small, 1rem);
  padding: var(--padding-x-small, 0);

  border-radius: var(--border-radius-small);
  outline: none;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.input--textbox:hover {
  box-shadow: 0 0 0 1px var(--colours-light-border, #f0f);
  z-index: 1;
}
.input--textbox:focus,
.input--textbox:active {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--colours-active, #f0f);
  max-height: none;
  overflow-wrap: anywhere;
  white-space: normal;
  overflow: auto;
  z-index: 1;
}
.input__checkbox {
  margin: 0;
}

.input--textbox {
  font-size: var(--font-size--small, 1rem);

  padding: var(--padding-x-small, 0);
  margin: calc(var(--padding-x-small, 0) / 2) var(--padding-x-small, 0);
  margin-top: 0;
  flex-grow: 1;
  border: none;
  outline: none;
}
.input--textbox[data-empty]:not(:focus)::before {
  color: var(--colours-text-placeholder, #f0f);
  content: attr(data-placeholder);
}

.input--icon {
  background-repeat: no-repeat;
  background-position: var(--padding-x-small) center;
  background-size: 12px;
  padding-left: var(--padding-large, 0);
}
.input--icon--text {
  background-image: url(../images/icon-headline.svg);
}
.input--icon--url {
  background-image: url(../images/icon-link.svg);
}
.input--textbox--colour,
.input--textbox--colour:hover,
.input--textbox--colour:focus {
  box-shadow: none;
  margin: 0;
  padding-left: 0;
  flex-grow: none;
}
