/* [ Inputs ]
----------------------------------------------------------------- */
.input__label {
  flex: 1;
  word-break: break-word;
}
.input__checkbox + .input__label {
  margin-left: var(--padding-small, 0);
}
.input--textbox {
  resize: none;
  font-size: var(--font-size--small, 1rem);
  padding: var(--padding-x-small, 0);
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  outline: none;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.input--textbox:hover {
  border: 1px solid var(--colours-light-border, #f0f);
}
.input--textbox:focus,
.input--textbox:active {
  border-color: transparent;
  border: 1px solid var(--colours-active, #f0f);
  max-height: none;
  overflow-wrap: anywhere;
  white-space: normal;
  overflow: auto;
}
.input__checkbox {
  margin: 0;
}

.input--headline {
  background-image: url(../images/icon-headline.svg);
  background-repeat: no-repeat;
  background-position: var(--padding-x-small) center;
  background-size: 11px;
  padding-left: var(--padding-large, 0);
  margin: calc(var(--padding-x-small, 0) / 2);
  margin-top: 0;
  flex-grow: 1;
}

.input--text {
  font-size: var(--font-size--small, 1rem);
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  outline: none;
  margin: var(--padding-small, 0) var(--padding-medium);
  flex: 1;
  align-self: normal;
}
.input--text:hover {
  border: 1px solid var(--colours-light-border, #f0f);
}
.input--text:focus,
.input--text:active {
  border-color: transparent;
  border: 1px solid var(--colours-active, #f0f);
}

.input--url {
  background-image: url(../images/icon-link.svg);
  background-repeat: no-repeat;
  background-position: var(--padding-x-small) center;
  padding: var(--padding-x-small, 0);
  background-size: 11px;
  padding-left: var(--padding-large, 0);
  margin: calc(var(--padding-x-small, 0) / 2);
  margin-top: 0;
}
.input--url:invalid {
  border: 1px solid var(--colours-error, #f0f);
}

.input--url .input--colour {
  margin: 0;
  padding: 0;
  border: none;
}
.input--text-colour {
  text-transform: uppercase;
  width: 100%;
  margin-top: 0;
  margin-left: var(--padding-small, 0);
}
