/* [ Style variables ]
----------------------------------------------------------------- */
:root {
  --padding-small: 6px;
  --padding-medium: 12px;
  --padding-large: 24px;
  --padding-huge: 48px;

  --border-radius-small: 2px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;

  --colours-light-background: #ffffff;
  --colours-light-background-hover: #f3f3f3;
  --colours-dark-background: #222222;
  --colours-light-border: #dfdfdf;
  --colours-dark-border: #383838;
  --colours-active: #18a0fb;
  --colours-text: #222222;
  --colours-text-disabled: #b8b8b8;
  --colours-preview-background: #c4c4c4;
  --colours-item-hover: #daebf7;

  --colours-main: rgb(72, 202, 126);
  --colours-main-light: rgb(208, 242, 222);
  --colours-main-dark: rgb(44, 75, 57);

  --colours-info: #1bc47d;
  --colours-warn: #ff781e;
  --colours-error: #f24822;

  --font-family: "Inter var", Arial, Helvetica, sans-serif;

  --font-size--small: 11px;
  --font-size--medium: 14px;
  --font-size--large: 24px;
}
