@import url("https://rsms.me/inter/inter.css");

body {
  --padding-small: 6px;
  --padding-medium: 12px;
  --padding-large: 24px;
  --padding-huge: 48px;

  --border-radius-small: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;

  --colours-grey-0: rgb(33, 33, 33);
  --colours-grey-1: rgb(74, 74, 74);
  --colours-grey-2: rgb(133, 133, 133);
  --colours-grey-3: rgb(179, 179, 179);
  --colours-grey-4: rgb(227, 227, 227);
  --colours-grey-5: rgb(245, 245, 245);
  --colours-main: rgb(72, 202, 126);
  --colours-main-light: rgb(208, 242, 222);
  --colours-main-dark: rgb(44, 75, 57);
  --colours-warning: rgb(255, 242, 175);

  --font-family-sans-serif: Arial, Helvetica, sans-serif;
  --font-famailt-serif: Georgia, "Times New Roman", Times, serif;

  --font-size--small: 11px;
  --font-size--medium: 14px;
  --font-size--large: 18px;
}

html {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  margin: 0;
  font-size: 14px;
}

.btn {
  border: 1px solid transparent;
  background: #fff;
  padding: var(--padding-small, 0) var(--padding-medium, 0);
  cursor: pointer;
  border-radius: var(--border-radius-small, 0);
  outline: none;
  border: 1px solid var(--colours-grey-3, #f0f);
  background: #fff;
}

.btn--primary {
  color: #fff;
  background: var(--colours-main, #f0f);
  border-color: var(--colours-main, #f0f);
}

button:disabled {
  border: 1px solid var(--colours-grey-4, #f0f);
  color: var(--colours-grey-4, #f0f);
  background: #fff;
}

button:active,
button:hover {
  outline: none;
}

/* [ Output ]
----------------------------------------------------------------- */
.ouput__iframe {
  resize: both;
  min-width: 20px;
  min-height: 120px;
  border: 1px solid var(--colours-grey-2, #f0f);
  overflow: auto;
}
