/* Figma-2-HTML plugin CSS styles */
@import url("https://rsms.me/inter/inter.css");

/* [ Style variables ]
----------------------------------------------------------------- */
:root {
  --padding-small: 6px;
  --padding-medium: 12px;
  --padding-large: 24px;
  --padding-huge: 48px;

  --border-radius-small: 2px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;

  --colours-light-background: rgb(255, 255, 255);
  --colours-light-background-hover: rgb(243, 243, 243);
  --colours-dark-background: #222222;
  --colours-light-border: #dfdfdf;
  --colours-dark-border: #383838;
  --colours-active: #18a0fb;
  --colours-text: #222222;
  --colours-text-disabled: rgb(184, 184, 184);
  --colours-preview-background: #c4c4c4;

  --colours-main: rgb(72, 202, 126);
  --colours-main-light: rgb(208, 242, 222);
  --colours-main-dark: rgb(44, 75, 57);
  --colours-warning: rgb(255, 242, 175);

  --font-family: "Inter var", Arial, Helvetica, sans-serif;

  --font-size--small: 0.7rem;
  --font-size--medium: 0.8rem;
  --font-size--large: 1.6rem;
}

/* [ Root ]
----------------------------------------------------------------- */
html,
body {
  font-family: var(--font-family, arial);
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family, arial);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2);
  border: 4px solid #c3c3c3;
}

/* [ App ]
----------------------------------------------------------------- */
.app {
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: min-content auto;
  background: #fff;
  height: 100%;
}

/* [ Sidebar ]
----------------------------------------------------------------- */
.top_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-row: 1/2;
  grid-column: 1/3;
}

/* [ Sidebar ]
----------------------------------------------------------------- */
.sidebar {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.sidebar fieldset {
  padding: var(--padding-small, 0);
  margin: var(--padding-small, 0);
  border: 1px solid var(--colours-grey-3, #f0f);
  border-radius: var(--border-radius-small, 0);
}
.sidebar legend {
  font-size: var(--font-size--small, 1rem);
  margin: 0;
}
.sidebar button:enabled {
  cursor: pointer;
}

/* [ Sidebar - Frame selection ]
----------------------------------------------------------------- */
.selection {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-width: 200px;
}
.selection_inner {
  overflow-y: auto;
  max-height: 14ch;
  height: 100%;
  margin-bottom: var(--padding-small, 0);
}
.selection__item {
  margin: var(--padding-small, 0) 0;
  font-size: var(--font-size--small, 1rem);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.selection__input {
  margin: 0;
}
.selection__name {
  flex: 1;
  margin: 0 var(--padding-medium, 0);
  word-break: break-word;
}
.selection__width {
  color: var(--colours-grey-2, #f0f);
}

/* [ Sidebar - Headlines ]
----------------------------------------------------------------- */
.embed_properties {
  display: flex;
  flex-direction: column;
  flex: 1.3;
}
.embed_properties label {
  font-size: var(--font-size--small, 1rem);
  margin: var(--padding-small, 0) 0;
  display: flex;
}
.embed_properties label span {
  min-width: 12ch;
}
.embed_properties label input {
  width: 100%;
  font-size: var(--font-size--small, 1rem);
  flex: 1;
}

.embed_properties label input:invalid {
  border: 1px solid #e8a417;
  background: #ffe6af;
  border-radius: 2px;
}

/* [ Sidebar - Export ]
----------------------------------------------------------------- */
.export {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
}
.export__generate,
.export__copy,
.export__download {
  width: 100%;
}
.export__copy {
  margin: var(--padding-small, 0) 0;
}
.export_services__heading {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}
.export_services {
  display: flex;
}
.export__service {
  margin: 6px 0;
  font-size: 12px;
}

/* [ Export clipboard ]
----------------------------------------------------------------- */
.clipboard .dropdown__option {
  background-image: url(../static/images/icon-link.svg);
  background-position: var(--padding-medium, 0) 50%;
  background-repeat: no-repeat;
  text-decoration: underline;
}

/* [ Preview ]
----------------------------------------------------------------- */
.preview {
  display: flex;
  flex-direction: column;

  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
}
.preview__rendering {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 4;
  pointer-events: none;
}
.preview__settings {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size--small, 1rem);
  padding: var(--padding-small, 0) 0;
  border-bottom: 1px solid var(--colours-grey-3, #f0f);
}
.preview__settings label,
.preview__settings p {
  margin: 0 var(--padding-small, 0);
  display: flex;
  align-items: center;
}
.breakpoints {
  font-size: var(--font-size--small, 1rem);
  margin-right: var(--padding-small, 0);
}
.preview__container {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: auto;
  flex: 1;
  height: 1;
  border-top-right-radius: var(--border-radius-small, 0);
  background-color: var(--colours-preview-background, #f0f);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
}
.preview__container--drag {
  cursor: grab;
}
.preview__width input,
.preview__zoom input {
  width: 10ch;
  text-align: center;
  font-size: var(--font-size--small, 1rem);
  padding: 0;
  margin: 0 var(--padding-small, 0);
}
.preview__wrapper {
  border: 1px solid var(--colours-grey-2, #f0f);
  position: relative;
  resize: horizontal;
  z-index: 2;
}
.preview__iframe_wrapper {
  position: absolute;
  /* min-width: 100px; */
}
.preview__iframe_wrapper:hover {
  outline: 2px solid var(--colours-active, #f0f);
}
.preview__iframe_resize {
  width: 8px;
  height: 8px;
  background: #fff;
  border: 1px solid var(--colours-active, #f0f);
  position: absolute;
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
  z-index: 2;
  text-indent: -200px;
  overflow: hidden;
  outline: none;
  padding: 4px;
  display: none;
}

.preview__iframe_wrapper.preview__iframe_wrapper--selected {
  outline: 1px solid var(--colours-active, #f0f);
}

.preview__iframe_wrapper--selected .preview__iframe_resize {
  display: block;
}
/* .preview--resizing .preview__iframe_resize,
.preview__iframe_wrapper:hover .preview__iframe_resize {
  display: block;
} */
.preview__iframe {
  overflow: hidden;
  transform-origin: 0 0;
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  pointer-events: none;
}
.preview__iframe::before {
  content: attr(style);
  display: block;
}
.preview--resizing .preview__iframe {
  pointer-events: none;
}

.preview__help {
  position: absolute;
  bottom: var(--padding-small, 0);
  left: var(--padding-small, 0);
  font-size: var(--font-size--small);
}
.preview__help p {
  display: flex;
  margin: 0;
  color: var(--colours-grey-2, #f0f);
  text-align: left;
}
.preview__help p span {
  min-width: 7ch;
}
.warning {
  font-size: var(--font-size--small, 1rem);
  padding: var(--padding-small, 0);
  text-align: center;
  background-color: var(--colours-warning);
  border-radius: var(--border-radius-small, 0);
  margin: 0;

  z-index: 4;
  grid-row: 2/3;
  grid-column: 1/2;
}

/* [ Footer ]
----------------------------------------------------------------- */
.footer {
  bottom: var(--padding-small, 0);
  right: var(--padding-small, 0);
  font-size: var(--font-size--small);
  text-align: right;
  color: var(--colours-grey-3, #f0f);
  position: absolute;
  margin: 0;
}

/* [ Error ]
----------------------------------------------------------------- */
.error {
  background-color: rgba(213, 213, 213, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(213, 213, 213, 0.87);
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.error h2 {
  margin: 0;
  font-size: var(--font-size--small, 1rem);
  color: var(--colours-grey-0, #f0f);
  font-weight: 200;
}
.error p {
  font-size: var(--font-size--medium, 1rem);
  color: rgb(52, 45, 22);
  background: rgb(255, 229, 146);
  padding: var(--padding-medium, 0);
  margin: var(--padding-small, 0) 0;
  border-radius: var(--border-radius-medium, 0);
}

/* [ Loading ]
----------------------------------------------------------------- */
.loading {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.loading[data-active] {
  opacity: 1;
  pointer-events: all;
}

/* [ Dropdown ]
----------------------------------------------------------------- */
.dropdown {
  position: relative;
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA3bDctNyA3IDdIMHoiIGZpbGw9InJnYigyMiwyMiwyMikiLz48L3N2Zz4K");
  padding-top: 7px;
  background-repeat: no-repeat;
  background-position: top center;

  width: 100%;
  display: flex;
  justify-content: center;
}
.dropdown__list_inner {
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  min-width: 140px;
  padding: var(--padding-small, 0) 0;
  border-radius: var(--border-radius-small, 0);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15), 0px 5px 17px rgba(0, 0, 0, 0.2);
}

.dropdown__list_modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.dropdown__option {
  white-space: nowrap;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  padding: var(--padding-small, 0) var(--padding-small, 0)
    var(--padding-small, 0) var(--padding-large, 0);
  text-align: left;
  outline: none;
  user-select: none;
}
.dropdown__option:hover,
.dropdown__option:active {
  background-color: var(--colours-active, #f0f);
}

.dropdown__btn {
  border: none;
  outline: none;
  padding: var(--padding-small, 0) var(--padding-medium);
  background: transparent;
  cursor: pointer;
  display: flex;
  white-space: nowrap;
}
.dropdown__btn:hover,
.dropdown__btn:active {
  background-color: rgba(0, 0, 0, 0.02);
}
.dropdown__btn:active,
.dropdown__btn--active {
  background-color: var(--colours-active, #f0f);
  color: #fff;
}
.dropdown__arrow {
  margin-top: -0.2em;
  padding-left: var(--padding-small);
}

/* [ Crash ]
----------------------------------------------------------------- */
.crash {
  text-align: center;
  height: 100%;
  display: flex;
  padding: var(--padding-large, 0);
  background-color: var(--colours-warning);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}

/* [ Errors ]
----------------------------------------------------------------- */
.error_notification {
  grid-column: 1/2;
  grid-row: 3/2;
  background: #fff084;
  z-index: 2;
  text-align: center;
  border-bottom: 1px solid #e28108;
}
.error_notification__heading {
  margin: 0;
  background: #e28108;
  font-size: 12px;
  color: white;
  padding: 2px 0;
}
.error_notification__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}
.error_notification__list li {
  margin: 4px 0;
  color: #6d3005;
}
