/* [ Style variables ]
----------------------------------------------------------------- */
:root {
  --padding-small: 6px;
  --padding-medium: 12px;
  --padding-large: 24px;
  --padding-huge: 48px;

  --border-radius-small: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;

  --colours-grey-0: rgb(33, 33, 33);
  --colours-grey-1: rgb(74, 74, 74);
  --colours-grey-2: rgb(133, 133, 133);
  --colours-grey-3: rgb(179, 179, 179);
  --colours-grey-5: rgb(245, 245, 245);

  --colours-main: rgb(72, 202, 126);
  --colours-main-light: rgb(208, 242, 222);
  --colours-main-dark: rgb(44, 75, 57);
  --colours-warning: rgb(255, 242, 175);

  --font-size--small: 0.8rem;
  --font-size--medium: 1rem;
  --font-size--large: 1.7rem;
}

/* [ Root ]
----------------------------------------------------------------- */
html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  margin: 0;
  font-size: 14px;
}

/* [ App ]
----------------------------------------------------------------- */
.app {
  display: flex;
  flex-direction: row;
  background: pink;
  height: 100%;
}

/* [ Sidebar ]
----------------------------------------------------------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  background: paleturquoise;
  max-width: 30ch;
}

/* [ Clipboard ]  Hidden. Only used to copy output to clipboard.
-----------------------------------------------------------------  */
.clipboard {
  /* NOTE: Element NEEDS DOM flow to enable selection copy */
  height: 2px;
  opacity: 0;
}

/* [ Preview ]
----------------------------------------------------------------- */
.preview {
  background: palegoldenrod;
  flex: 1;
}

/* [ Components ]
----------------------------------------------------------------- */
.btn {
  border: 1px solid transparent;
  background: #fff;
  padding: var(--padding-small, 0) var(--padding-medium, 0);
  cursor: pointer;
  border-radius: var(--border-radius-small, 0);
  outline: none;
  border: 1px solid var(--colours-grey-3, #f0f);
  background: #fff;
}

.btn--primary {
  color: #fff;
  background: var(--colours-main, #f0f);
  border-color: var(--colours-main, #f0f);
}

button:disabled {
  border: 1px solid var(--colours-grey-4, #f0f);
  color: var(--colours-grey-4, #f0f);
  background: #fff;
}

button:active,
button:hover {
  outline: none;
}

/* [ Preview ]
----------------------------------------------------------------- */
.preview {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
.preview__settings {
  flex: min-content;
}
.preview__container {
  display: flex;
  background: palevioletred;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.preview__iframe {
  resize: both;
  min-width: 20px;
  min-height: 120px;
  border: 1px solid var(--colours-grey-2, #f0f);
  overflow: auto;
  max-height: calc(100% - 3rem);
}

/* [ Loading ]
----------------------------------------------------------------- */
.loading {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* [ Footer ]
----------------------------------------------------------------- */
.footer {
  position: absolute;
  bottom: var(--padding-medium, 0);
  right: var(--padding-medium, 0);
  font-size: var(--font-size--small);
  pointer-events: none;
}
