@import url('https://cf.eip.telegraph.co.uk/assets/_css/fontsv02.css');

.f2h__text {
  margin: 0;
  font-family: sans-serif;
  transform: translate(-50%, -50%);
}

.f2h__render {
  position: relative;
}

.f2h__render svg text {
  display: none;
}

.f2h__render--responsive {
  width: 100%;
}

.f2h__render--responsive svg {
  width: 100%;
  height: auto;
}
