/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

@import url("https://rsms.me/inter/inter.css");

body {
  --padding-small: 6px;
  --padding-medium: 12px;
  --padding-large: 24px;
  --padding-huge: 48px;

  --border-radius-small: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;

  --colours-grey-0: rgb(33, 33, 33);
  --colours-grey-1: rgb(74, 74, 74);
  --colours-grey-2: rgb(133, 133, 133);
  --colours-grey-3: rgb(179, 179, 179);
  --colours-grey-4: rgb(227, 227, 227);
  --colours-grey-5: rgb(245, 245, 245);
  --colours-main: rgb(72, 202, 126);
  --colours-main-light: rgb(208, 242, 222);
  --colours-main-dark: rgb(44, 75, 57);
  --colours-warning: rgb(255, 242, 175);

  --font-family-sans-serif: Arial, Helvetica, sans-serif;
  --font-famailt-serif: Georgia, "Times New Roman", Times, serif;

  --font-size--small: 11px;
  --font-size--medium: 14px;
  --font-size--large: 18px;
}

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  margin: 0;
  font-size: 14px;
}

button {
  border: 1px solid transparent;
  background: #fff;
  padding: var(--padding-small, 0) var(--padding-medium, 0);
  cursor: pointer;
  border-radius: var(--border-radius-small, 0);
  outline: none;
  border: 1px solid var(--colours-grey-3, #f0f);
  background: #fff;
}

.btn--primary {
  color: #fff;
  background: var(--colours-main, #f0f);
  border-color: var(--colours-main, #f0f);
}

button:disabled {
  border: 1px solid var(--colours-grey-4, #f0f);
  color: var(--colours-grey-4, #f0f);
  background: #fff;
}

button:active,
button:hover {
  outline: none;
}

.f2h {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* [Header] */
.f2h__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-small, 0) var(--padding-medium, 0);
  border-bottom: 1px solid #e4e4e4;
  background: #f9f9f9;
}

.f2h__title {
  font-family: var(--font-family-sans-serif, sans-serif);
  font-size: var(--font-size--medium, 1em);
  flex: 1;
}
.f2h__info {
  margin-left: var(--padding-medium, 0);
  display: flex;
  max-width: 60%;
  white-space: nowrap;
}
.f2h__info_title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.f2h__info_meta {
  font-size: var(--font-size--medium, 1em);
  margin: 0 var(--padding-small, 0);
}
.f2h__file_size {
  margin-left: var(--padding-small, 0);
  font-weight: bold;
}

.f2h__header button {
  margin-left: var(--padding-small, 0);
}

/* [ Body ] */
.f2h__body {
  display: flex;
  padding: var(--padding-large, 0) var(--padding-huge, 0);
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--colours-grey-5, #f0f);
}

/* [ Footer ] */
.f2h__version {
  position: absolute;
  bottom: var(--padding-small, 0);
  right: var(--padding-small, 0);
  color: var(--colours-grey-3, #f0f);
  font-size: var(--font-size--small, 1em);
  font-family: var(--font-family-sans-serif, sans-serif);
}

/* [ Frame selection and Form ] */
.f2h__choose_frames {
  min-width: 50%;
}
.f2h__info_form {
  margin-bottom: var(--padding-large, 0);
}
.f2h__info_form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--padding-medium, 0);
}
.f2h__info_form__label {
  font-size: var(--font-size--small, 1em);
  font-family: var(--font-family-sans-serif, sans-serif);
}
.f2h__info_form__input {
  font-size: var(--font-size--medium, 1em);
  font-family: var(--font-family-sans-serif, sans-serif);
  padding: var(--padding-small, 0) var(--padding-medium, 0);
}

.f2h__frame_selection {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto;
  min-width: 320px;
  grid-gap: var(--padding-small, 0) var(--padding-medium, 0);
  align-items: center;
}

.f2h__sel_header {
  color: var(--colours-grey-0, #f0f);
  font-size: var(--font-size--medium);
  border-bottom: 1px solid var(--colours-grey-0);
  padding-bottom: var(--padding-small, 0);
}

.f2h__sel_header--name {
  grid-column: 1/2;
  grid-row: 1/2;
}

.f2h__sel_header--responsive {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  white-space: nowrap;
}

.f2h__label.f2h__label--name {
  grid-column: 1/2;
  align-items: baseline;
}
.f2h__label--name-text {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.f2h__input--responsive {
  grid-column: 2/3;
  justify-self: center;
  margin: 0;
}

.f2h__label {
  display: flex;
  cursor: pointer;
  padding: var(--padding-small) 0;
  align-items: center;
  min-width: 0;
}

.f2h__sel_width {
  font-size: var(--font-size--small, 1em);
  color: var(--colours-grey-3, #f0f);
  padding-left: var(--padding-small, 0);
  white-space: nowrap;
}

.f2h__checkbox,
.f2h__radio_btn {
  margin-right: var(--padding-medium, 0);
}

.f2h__selection_width {
  font-size: var(--font-size--small, 1);
  margin: 0 var(--padding-small, 0);
  display: block;
  color: var(--colours-grey-2, #f0f);
}

/* [Preview]  */
.f2h__preview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.f2h__preview_title {
  font-size: var(--font-size--medium, 1);
  margin: var(--padding-small, 0) 0;
  display: flex;
}
.f2h__preview_name {
  flex: 1;
}

.f2h__preview_inner {
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
.f2h__preview_inner--scaled {
  overflow: hidden;
}

.f2h__preview_wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.f2h__preview_responsive,
.f2h__preview_width {
  font-size: var(--font-size--small, 1);
  color: var(--colours-grey-3, #f0f);
  padding-left: var(--padding-small, 0);
}

.f2h__notice--warning {
  background: var(--colours-warning, #f0f);
  padding: var(--padding-small, 0) var(--padding-medium, 0);
  margin: var(--padding-small, 0) 0;
  font-size: var(--font-size--medium, 1em);
  border-radius: var(--border-radius-medium, 0);
}

.f2h__notice--error {
  font-weight: bold;
  background: #ffeded;
  color: #a70f0f;
}

/* [Render] */
.f2h__render {
  transform-origin: top left;
}

.f2h__render--responsive svg {
  width: 100%;
}

.error {
  background-color: var(--colours-grey-5, #f0f);
  border-radius: var(--border-radius-small, 0);
  padding: var(--padding-medium, 0) var(--padding-small, 0);
  text-align: center;
  color: var(--colours-grey-0, #f0f);
  margin: var(--padding-medium, 0) 0;
  flex: 1;
  align-self: center;
}

/* [Save] */
.f2h__save {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  max-width: 800px;
}

.f2h__save_btn {
  font-size: var(--font-size--large, 1em);
  color: #fff;
  border-radius: var(--border-radius-small, 0);
  padding: var(--padding-medium, 0);
  margin-right: var(--padding-medium, 0);
  border-bottom: 2px solid var(--colours-main-dark, #f0f);
  border-top: 3px solid transparent;
}
.f2h__save_btn:hover {
  border-top: 0;
  border-bottom-width: 5px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}
.f2h__save_btn:active {
  border-bottom: 2px solid var(--colours-main-dark, #f0f);
  border-top: 3px solid transparent;
}

.f2h__save_btn:last-of-type {
  margin: 0;
}

.f2h__save_options {
  display: flex;
  justify-content: center;
}

.f2h__save__subhead {
  font-size: var(--font-size--medium, 1);
  margin: var(--padding-large, 0) 0 var(--padding-small, 0);
  padding-bottom: var(--padding-small, 0);
  border-bottom: 1px solid var(--colours-grey-4, #f0f);
}

.f2h__save_advanced {
  opacity: 0;
  transition: opacity 0.1s;
}
.f2h__save_advanced--open {
  opacity: 1;
}

.f2h__save_advanced-header {
  display: flex;
}

.f2h__save_advanced_title {
  flex: 1;
}

.f2h__save_advanced_show {
  background-color: transparent;
  border: 1px solid var(--colours-grey-3, #f0f);
}

.f2h__save__raw {
  width: 100%;
  padding: var(--padding-small, 0);
  border: 1px solid var(--colours-grey-4, #f0f);
  font-family: monospace;
  font-size: 11px;
  min-height: 150px;
  max-height: 300px;
}

/* Resize widget */
.f2h__resizer {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 6px;
  right: 6px;
  cursor: grabbing;
  background: repeating-linear-gradient(
    -45deg,
    #d2d2d2,
    #d2d2d2 2px,
    transparent 1px,
    transparent 8px
  );
  border-radius: 100% 0 0;
}

.f2h__toast {
  background-color: var(--colours-grey-1, #f0f);
  color: #fff;
  border-radius: var(--border-radius-small, 0);
  padding: var(--padding-medium, 0);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.3s, opacity 0.3s 0.1s;
  opacity: 0;
}

.f2h__toast--open {
  transform: translate(-50%, -100%);
  opacity: 1;
}

/* [Responsive preview] */
.f2h__responsive_preview {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  align-self: center;
}

.f2h__responsive__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.f2h__ruler {
  position: relative;
  display: grid;
  justify-items: center;
}
.f2h__ruler_break {
  height: var(--padding-medium, 10px);
  background-color: var(--colours-grey-4, #f0f);
  border: 2px solid #fff;
  grid-row: 1/2;
  grid-column: 1/2;
  border-top: none;
  border-bottom: none;
}
.f2h__ruler_break--0 {
  width: 320px;
  z-index: 3;
}
.f2h__ruler_break--1 {
  width: 450px;
  z-index: 2;
}
.f2h__ruler_break--2 {
  width: 640px;
  z-index: 1;
}

.f2h__responsive__sandbox {
  resize: both;
  overflow: hidden;
  outline: 1px solid var(--colours-grey-4, #f0f);
  margin: var(--padding-small, 0) 0;

  /* https://leaverou.github.io/css3patterns/#checkerboard */
  background-color: #eee;
  background-image: linear-gradient(
      45deg,
      var(--colours-grey-4, #f0f) 25%,
      transparent 25%,
      transparent 75%,
      var(--colours-grey-4, #f0f) 75%,
      var(--colours-grey-4, #f0f)
    ),
    linear-gradient(
      45deg,
      var(--colours-grey-4, #f0f) 25%,
      transparent 25%,
      transparent 75%,
      var(--colours-grey-4, #f0f) 75%,
      var(--colours-grey-4, #f0f)
    );
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  min-height: 60vh;
  max-width: 98vw;
}

.responsive_width_btn {
  background-color: var(--colours-grey-4, #f0f);
  margin: 1px;
  border-radius: 3px;
  padding: 2px var(--padding-small);
  font-size: var(--font-size--small);
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
}
.responsive_width_btn.active {
  background-color: var(--colours-grey-3, #f0f);
  color: #fff;
}

/* [ Loading ] */
.loading {
  --loading-animation-duration: 8s;
  background: var(--colours-grey-4, #f0f);
  padding: var(--padding-medium, 0) var(--padding-large, 0);
  border-radius: 3px;
  display: grid;
}

.loading__msg {
  animation-duration: var(--loading-animation-duration, 0);
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-name: loadingFadeInOut;
  animation-delay: 0;
  opacity: 0;
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  font-size: var(--font-size--large, 1em);
}

@keyframes loadingFadeInOut {
  0% {
    opacity: 0;
  }
  17.5% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loading__msg:nth-child(2) {
  animation-delay: calc(var(--loading-animation-duration, 1s) / 4);
}

.loading__msg:nth-child(3) {
  animation-delay: calc(var(--loading-animation-duration, 1s) / 4 * 2);
}

.loading__msg:nth-child(4) {
  animation-delay: calc(var(--loading-animation-duration, 1s) / 4 * 3);
}
